.styledSelected {
    font-weight: bold;
    text-decoration: none;
    margin: 0.9rem;
    color: white;
}

.styled {
    text-decoration: none;
    margin: 0.9rem;
    color: white;
}

li {
    list-style-type: none;
}

.centred {
    text-align: center;
    overflow: hidden;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: black;
}

html {
    background-color: black;
}