.App {
  text-align: center;
}

* {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header-grid {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  color: white;
}

.pokemon-box {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border: 3px white solid;
  border-radius: 5px;
}

#header-text {
  color: #DC3545;
}