* {
  font-family: 'Sora', sans-serif;
}

.App {
  text-align: center;
  border: 1px solid white;
}

.App-header {
  background-color: #000000;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header-grid {
  background-color: #000000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  color: white;
}

.pokemon-box {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border: 3px white solid;
  border-radius: 5px;
  background-image: url(https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#header-text {
  color: #DC3545;
}